.input-container {
  border: 1px solid gray;
  border-radius: 4px;
  height: 2rem;
  position: relative;
}

.input-container input {
  width: 100%;
  border: none;
  position: absolute;
  inset: 0;
  z-index: 1;
  outline: none;
  padding: 0 0.5rem;
  font-size: 14px;
  background: transparent;
}
/* For showing through placeholder */
.input-container input:not([value='']) {
  -webkit-text-fill-color: transparent;
}

.input-container .input-renderer {
  font-size: 14px;
  position: absolute;
  inset: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0.5rem;
  white-space: pre;
  overflow-y: auto;
  user-select: none;
  scrollbar-width: none;
  word-wrap: break-word;
  width: 160px;
}

.input-container .input-renderer::-webkit-scrollbar {
  display: none;
}
