#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: auto;
}

.tag {
  background-color: rgba(17, 0, 255, 0.3);
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  flex-wrap: wrap;
}
.header-name {
  font-size: 24px;
}
